<div class="container">
  <div class="row mx-auto">
    <div class="col-sm- mx-auto">
<h2>会員情報編集</h2>
<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
<%= render "customers/shared/error_messages", resource: resource %>

<table>
  <thead>
    <tr class="pb-5">
      <th width="200">氏名</th>
      <th><%= f.text_field :first_name, class: "form-control", autofocus: true %></th>
      <th width="50 pb-5"></th>
      <th><%= f.text_field :last_name, class: "form-control" %></th>
      <th></th>
    </tr>
    <tr>
      <th width="200">フリガナ</th>
      <th><%= f.text_field :first_name_kana,class: "form-control" %></th>
      <th width="50"></th>
      <th><%= f.text_field :last_name_kana, class: "form-control" %></th>
      <th></th>
    </tr>
      <tr>
      <th>郵便番号</th>
      <th><%= f.text_field :postal_code, class: "form-control" %></th>
      <th></th>
      <th></th>
      </tr>
    <tr>
      <th width="200">住所</th>
      <th colspan="3"><%= f.text_field :address, class: "form-control" %></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= f.text_field :telephone_number, class: "form-control" %></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= f.email_field :email, class: "form-control" %></th>
      <th></th>
      <th><div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
</th>
    </tr>
    <tr>
      <th></th>
      <th><%= f.submit "編集内容を保存する", class: "btn btn-success" %></th>
      <th></th>
      <th><%= link_to "退会画面へ",customers_unsubscribe_path, class: "btn btn-danger" %></th>
      <th></th>
    </tr>
  </thead>
</table>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
　　<% end %>

    </div>
  </div>
</div>