<div class="container">
  <div class="row">
    <div class="col-10, mx-auto, container-fluid">
      <h5 class="title3">会員新規登録</h5>

      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>

        <form class="form-horizontal">

          <div class="form-group col-9">
            <%= f.label "氏名", class: "form-label, col-3" %>
            <%= f.text_field :last_name, class: "form-control, col-4", placeholder: "山田" %>
            <%= f.text_field :first_name, class: "form-control, col-4", placeholder: "太郎" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label "フリガナ", class: "form-label, col-3" %>
            <%= f.text_field :last_name_kana, class: "form-control, col-4", placeholder: "ヤマダ" %>
            <%= f.text_field :first_name_kana, class: "form-control, col-4", placeholder: "タロウ" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label "郵便番号", class: "form-label, col-3" %>
            <%= f.text_field :postal_code, class: "form-control, col-4" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label :住所, class: "form-label, col-3" %>
            <%= f.text_field :address, class: "form-control, col-4" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label "電話番号", class: "form-label, col-3" %>
            <%= f.text_field :telephone_number, class: "form-control, col-4" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label "メールアドレス", class: "form-label, col-3" %>
            <%= f.text_field :email, class: "form-control, col-4" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label :password, "パスワード", class: "form-label, col-3" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control, col-4" %>
          </div>

          <div class="form-control, col-9">
            <%= f.label :password_confirmation, "パスワード確認", class: "form-label, col-3" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control, col-4" %>
          </div>

          <%= f.submit "新規登録", class: "btn btn-info" %>

        </form>

      <% end %>

      <div class="mt-3">
        <p>すでにログイン済みの方は<%= link_to "こちら", new_customer_session_path %>
      </div>

    </div>
  </div>
</div>