<h2><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h2>

<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>
  <%= form_with model: @customer, local: true do |f| %>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field, :last_name %></td>
      <td><%= f.text_field, :first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= f.text_field, :last_name_kana %></td>
      <td><%= f.text_field, :first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= f.text_field, :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field, :address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field, :telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field, :email %></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td>
        <%= f.radio_button :is_deleted, value: false %>
        <%= f.label :is_deleted, '有効', value: false %>
        <%= f.radio_button :is_deleted, value: true %>
        <%= f.label :is_deleted, '退会', value: true %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
    </tr>
</table>