<div class="container">
  <div class="row">
    <div class="col-8">
      <table>
        <tr>
          <td>購入者</td>
          <td><%= @order.customer.full_name %></td>
        </tr>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= @order.address.full_address %> <br>
            <%= @order.address.name %>
          </td>
        </tr>
        <tr>
          <td>支払い方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td>注文ステータス</td>
          <td>
            <%= form_with model: @order, url: admin_order_path %> local: true do |f| %>
              <%= f.select :status, Order.status.keys %>
              <%= f.submit "更新", class: 'btn-info' %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <th>商品名</th>
          <th>単価（税込み）</th>
          <th>数量</th>
          <th>小計</th>
          <th>作成ステータス</th>
        </thead>
        
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.order_detail.price%></td>
              <td><%= cart_item.amount %></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>