<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="title2">ジャンル編集</h5>

      <%= form_with model: @genre,url: admin_genre_path(@genre), local:true do |f| %>

        <form class="form-horizontal">

          <div class="form-group">
            <%= f.label :name, 'ジャンル名', class: "form-label, col-1.5" %>
            <%= f.text_field :name, class: "form-control, col-2" %>
            <%= f.attachment_field :image, class: "form-control, col-4" %>
            <%= f.submit "変更を保存", class: "btn btn-info" %>
          </div>

        </form>

      <% end %>
    </div>
  </div>
</div>
