<h3>ジャンル一覧・追加</h3>
<!--あとでbootstrapを実装-->
<table>
  <tbody>
    <!--新規入力-->

    <!--ジャンル名入力-->
    <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
      <tr>
        <td>ジャンル名</td>
        <td><%= f.text_field :name %></td>
        <td><%= f.attachment_field :image %></td>
        <td></td>
        <td><%= f.submit '新規登録',class:"btn btn-success" %></td>
      </tr>
    <% end %>
    <!--一覧-->
    <tr>
      <th><strong>ジャンル</strong></th>
    </tr>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= attachment_image_tag genre, :image, format: 'jpeg', size: "100x100" %></td>
      <td><%= link_to "編集する",edit_admin_genre_path(genre) %></td>
      <td><%= link_to "削除する",admin_genre_path(genre),method: :delete %></td>
    </tr>
    <% end %>
    </tr>
  </tbody>
</table>