<h5 class="title">配送先編集</h5>
<div class="container">
  <%= form_with model: @address,local: true do |f| %>
    <div class="row w-50 mx-auto">
      <div class="col">
        <table width="100%">
          <tbody>
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :postal_code, class: "form-control" %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address, class: "form-control" %></td>
            </tr>
            <tr>
              <td>宛名</td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row w-50 mx-auto">
    <div class="col">
      <tr>
        <td><%= f.submit "編集内容の保存",class: "btn btn-info float-right mt-3" %></td>
      </tr>
    </div>
  </div>
  <% end %>

</div>