  <div class="container">
    <div class="row">
      <div class="col- mx-auto">
        <h6>🏠お届け先の編集ページよ！！🏠</h6>
        <%= form_with model: @address,local: true do |f| %>

         <table>
          <thead>
            <tr>
            <th>郵便番号(ハイフンなし)</th>
            <th width="300"><%= f.text_field :postal_code, class: "form-control" %></th>
            <th width="100"></th>
            <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>住所</td>
            <td><%= f.text_field :address, class: "form-control" %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
            <td>宛名</td>
            <td><%= f.text_field :name, class: "form-control" %></td>
            <td></td>
            <td><%= f.submit "編集内容の保存",class: "btn btn-success" %></td>
            </tr>
          </tfoot>
        </table>
        <% end %>
      </div>
      </div>
    </div>
  </div>