<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>新規住所登録！！</h2>
      <%= form_with model: @address,local: true do |f| %>
      <p>宛名</p>
      <%= f.text_field :name %>
      <p>郵便番号</p>
      <%= f.text_field :postal_code %>
      <p>住所</p>
      <%= f.text_field :address %>
      <%= f.submit "新しい住所登録しちゃおう！"%>
      <% end %>
    </div>
    <div class="col-8 mx-auto">
      <h1>配送先一覧</h1>
  <table>
	<thead>
		<tr valign="middle">
			<th width="100">配送先NO.</th>
			<th width="100">宛名</th>
			<th width="100">郵便番号</th>
			<th width="200">住所</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<% @addresses.each.with_index(1) do |customer_address,i| %>
		<tr valign="middle"></tr>
			<td><%= i %></td>
			<td><%= customer_address.name %></td>
			<td><%= customer_address.postal_code %></td>
			<td><%= customer_address.address %></td>
			<td><%= link_to "！編集！", edit_address_path(customer_address) %></td>
		</tr>
			<% end %>
	</tbody>
 </table>

    </div>
  </div>
</div>