<!-- トップ画面 -->
<!--メイン画像-->
<div class="img__inner">
  <!--JS設定してから画像追加-->
  <%= image_tag"img/cake1.jpeg",class:"main-img"%>
</div>
<div class="text">
  <p>
    ようこそ、ながのCAKEへ！<br />
    このサイトは、ケーキ販売のECサイトになります。<br />
    会員でない方も商品の閲覧はできますが、<br />
    購入には会員登録が必要になります。
  </p>
</div>
<!-- 新規商品 -->
  <h5 class="title">新着商品</h5>
  <div class="items">
    <div class="new-items">
      <%= image_tag"img/pudding3.jpeg",class:"img"%>
      <p>cake1</p>
    </div>
    <div class="new-items">
      <%= image_tag"img/pudding4.jpeg",class:"img"%>
      <p>cake1</p>
    </div>
    <div class="new-items">
      <%= image_tag"img/candy2.jpeg",class:"img"%>
      <p>cake1</p>
    </div>
    <div class="new-items">
      <%= image_tag"img/bakedsweets2.jpeg",class:"img"%>
      <p>cake1</p>
    </div>
  </div>
  <!-- ジャンル -->
  <h5 class="title">ジャンル</h5>
  <div class="items">
    <div class="new-items">
      <%= image_tag"img/cake1.jpeg",class:"img"%>
      <p>ケーキ</p>
    </div>
    <div class="new-items">
      <%= image_tag"img/pudding1.jpeg",class:"img"%>
      <p>プリン</p>
    </div>
    <div class="new-items">
      <%= image_tag"img/bakedsweets1.jpeg",class:"img"%>
      <p>焼き菓子</p>
    </div>
    <div class="new-items">
      <%= image_tag"img/candy1.jpeg",class:"img"%>
      <p>キャンディ</p>
    </div>
  </div>
