
<!-- 注文確認画面へ -->
<h5 class="title">注文情報入力</h5>
<div class="container">
  <div class="mx-auto" style="width: 500px;">
    <%= form_with model: @order, url: orders_confirm_path, method: :get, local: true do |f| %>
      <div class="col-4 p-2 mb-1 bg-info text-white rounded">支払い方法</div>
      <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
      <%= f.label :payment_method, "クレジットカード" %><br />
      <%= f.radio_button :payment_method, :銀行振込 %>
      <%= f.label :payment_method, "銀行振込" %><br />

      <div class="col-4 p-2 mb-1 bg-info text-white rounded">お届け先</div>
      <!--ラジオボタンが一つしか選択できないように、labelは全部これ！ -->
      <%= f.radio_button :address_option, 0 %>
      <!-- またまた新しいカラム作成！（ordre_address）ここに保存されたのが、配送先の住所 -->
      <%= f.label :order_address, "ご自身の住所" %>
      <%= current_customer.postal_code %>
      <%= current_customer.address %>
      <%= current_customer.full_name %><br />

      <%= f.radio_button :address_option, 1 %>
      <%= f.label :order_address_id, "登録済み住所から登録" %>
      <%= f.collection_select :order_address_id , current_customer.addresses, :id, :address , :include_blank => "選択してください", class: "form-control",size: "20x40" %>
      <br />
      
      <%= f.radio_button :address_option, 2 %>
      <%= f.label :order_address_id, "新しいお届け先" %><br />

      <div>
        <%= f.label :postal_code, "郵便番号(ハイフンなし)",class: "col-5 ml-3 m-2" %>
        <%= f.text_field :postal_code, class: "form-control col-6 float-right" %>
      </div>
      <div>
        <%= f.label :address_option, "住所",class: "col-5 ml-3 m-2" %>
        <%= f.text_field :order_address, class: "form-control col-6 float-right" %>
      </div>
      <div>
        <%= f.label :name, "宛名",class: "col-5 ml-3 m-2" %>
        <%= f.text_field :name, class: "form-control col-6 float-right " %>
      </div>

      <%= f.submit "確認画面へ進む", class: "btn btn-outline-info mt-3 float-right" %>
    <% end %>
  </div>
</div>




